<!DOCTYPE html>
<html lang="pt-br" ng-app="notesApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body ng-controller="MainCtrl as ctrl">

  <form  ng-submit="ctrl.submit1()">
    <input type="text" name="username" id="username" ng-model="ctrl.username">
    <input type="password" name="password" id="password" ng-model="ctrl.password">
    <input type="submit" value="Enviar">
  </form>

  <form  ng-submit="ctrl.submit2()">
      <input type="text" name="username" id="username" ng-model="ctrl.user.username">
      <input type="password" name="password" id="password" ng-model="ctrl.user.password">
      <input type="submit" value="Enviar">
    </form>

  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

  <script>
    angular.module('notesApp', [])
    .controller('MainCtrl', [function(){
      var self = this

      self.submit1 = function(){
        //Criar um objeto para enviar ao servidor

        var user = {username: self.username, password: self.password}
        console.log('Primeiro form enviado ', user)
      }

      self.submit2 = function() {
        console.log('Segundo form enviado ', self.user)
      }



    }])
  </script>

  
</body>
</html>